# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://data.cms.gov/provider-data/dataset/xubh-q36u

Import the necessary libraries and create your dataframe(s).

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/fatima/Desktop/LaunchCode/data-analysis-projects/eda-checkpoint/Hospital_General_Information.csv')

In [4]:
df

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Hospital Type,Hospital Ownership,...,Count of READM Measures Better,Count of READM Measures No Different,Count of READM Measures Worse,READM Group Footnote,Pt Exp Group Measure Count,Count of Facility Pt Exp Measures,Pt Exp Group Footnote,TE Group Measure Count,Count of Facility TE Measures,TE Group Footnote
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,Acute Care Hospitals,Government - Hospital District or Authority,...,1,8,2,NaN,8,8,NaN,12,10,NaN
1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,Acute Care Hospitals,Government - Hospital District or Authority,...,0,8,1,NaN,8,8,NaN,12,12,NaN
2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 629-1000,Acute Care Hospitals,Proprietary,...,0,7,2,NaN,8,8,NaN,12,11,NaN
3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,Acute Care Hospitals,Voluntary non-profit - Private,...,0,7,0,NaN,8,8,NaN,12,7,NaN
4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,Acute Care Hospitals,Proprietary,...,0,2,0,NaN,8,Not Available,5.0,12,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5393,670319,TRINITY REGIONAL HOSPITAL SACHSE,4750 PRESIDENT GEORGE BUSH HIGHWAY,SACHSE,TX,75048,DALLAS,(469) 298-2599,Acute Care Hospitals,Voluntary non-profit - Private,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
5394,670320,EAST HOUSTON MEDICAL CENTER,15149 WALLISVILLE ROAD,HOUSTON,TX,77049,HARRIS,(281) 988-9800,Acute Care Hospitals,Proprietary,...,Not Available,Not Available,Not Available,19.0,Not Available,Not Available,19.0,Not Available,Not Available,19.0
5395,670321,ADVANCED DALLAS HOSPITALS AND CLINICS,7502 GREENVILLE AVENUE,DALLAS,TX,75231,DALLAS,(214) 221-6000,Acute Care Hospitals,Proprietary,...,Not Available,Not Available,Not Available,5.0,Not Available,Not Available,5.0,Not Available,Not Available,5.0
5396,670322,LEGENT SURGICAL HOSPITAL PLANO,4100 MAPLESHADE LANE,PLANO,TX,75075,COLLIN,(972) 265-1050,Acute Care Hospitals,Proprietary,...,Not Available,Not Available,Not Available,5.0,8,Not Available,5.0,12,Not Available,5.0
5397,671300,GRAHAM REGIONAL MEDICAL CENTER,1301 MONTGOMERY ROAD,GRAHAM,TX,76450,YOUNG,(940) 549-3400,Critical Access Hospitals,Government - Hospital District or Authority,...,Not Available,Not Available,Not Available,5.0,Not Available,Not Available,5.0,Not Available,Not Available,5.0

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [5]:
df.info()

#Review columns.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5398 entries, 0 to 5397
Data columns (total 39 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Facility ID                                            5398 non-null   object
 1   Facility Name                                          5398 non-null   object
 2   Address                                                5398 non-null   object
 3   City/Town                                              5398 non-null   object
 4   State                                                  5398 non-null   object
 5   ZIP Code                                               5398 non-null   int64
 6   County/Parish                                          5398 non-null   object
 7   Telephone Number                                       5398 non-null   object
 8   Hospital Type                                          5398 non-null   object
 9   Hospital Ownership                                     5398 non-null   object
 10  Emergency Services                                     5398 non-null   object
 11  Meets criteria for promoting interoperability of EHRs  3898 non-null   object
 12  Meets criteria for birthing friendly designation       2225 non-null   object
 13  Hospital overall rating                                5398 non-null   object
 14  Hospital overall rating footnote                       2610 non-null   object
 15  MORT Group Measure Count                               5398 non-null   object
 16  Count of Facility MORT Measures                        5398 non-null   object
 17  Count of MORT Measures Better                          5398 non-null   object
 18  Count of MORT Measures No Different                    5398 non-null   object
 19  Count of MORT Measures Worse                           5398 non-null   object
 20  MORT Group Footnote                                    1850 non-null   float64
 21  Safety Group Measure Count                             5398 non-null   object
 22  Count of Facility Safety Measures                      5398 non-null   object
 23  Count of Safety Measures Better                        5398 non-null   object
 24  Count of Safety Measures No Different                  5398 non-null   object
 25  Count of Safety Measures Worse                         5398 non-null   object
 26  Safety Group Footnote                                  1972 non-null   float64
 27  READM Group Measure Count                              5398 non-null   object
 28  Count of Facility READM Measures                       5398 non-null   object
 29  Count of READM Measures Better                         5398 non-null   object
 30  Count of READM Measures No Different                   5398 non-null   object
 31  Count of READM Measures Worse                          5398 non-null   object
 32  READM Group Footnote                                   1055 non-null   float64
 33  Pt Exp Group Measure Count                             5398 non-null   object
 34  Count of Facility Pt Exp Measures                      5398 non-null   object
 35  Pt Exp Group Footnote                                  2179 non-null   float64
 36  TE Group Measure Count                                 5398 non-null   object
 37  Count of Facility TE Measures                          5398 non-null   object
 38  TE Group Footnote                                      854 non-null    float64
dtypes: float64(5), int64(1), object(33)
memory usage: 1.6+ MB

In [6]:
print(df.isnull().sum())

#There are columns that lists null values as Not Available instead of leaving it blank.

Facility ID                                                 0
Facility Name                                               0
Address                                                     0
City/Town                                                   0
State                                                       0
ZIP Code                                                    0
County/Parish                                               0
Telephone Number                                            0
Hospital Type                                               0
Hospital Ownership                                          0
Emergency Services                                          0
Meets criteria for promoting interoperability of EHRs    1500
Meets criteria for birthing friendly designation         3173
Hospital overall rating                                     0
Hospital overall rating footnote                         2788
MORT Group Measure Count                                    0
Count of Facility MORT Measures                             0
Count of MORT Measures Better                               0
Count of MORT Measures No Different                         0
Count of MORT Measures Worse                                0
MORT Group Footnote                                      3548
Safety Group Measure Count                                  0
Count of Facility Safety Measures                           0
Count of Safety Measures Better                             0
Count of Safety Measures No Different                       0
Count of Safety Measures Worse                              0
Safety Group Footnote                                    3426
READM Group Measure Count                                   0
Count of Facility READM Measures                            0
Count of READM Measures Better                              0
Count of READM Measures No Different                        0
Count of READM Measures Worse                               0
READM Group Footnote                                     4343
Pt Exp Group Measure Count                                  0
Count of Facility Pt Exp Measures                           0
Pt Exp Group Footnote                                    3219
TE Group Measure Count                                      0
Count of Facility TE Measures                               0
TE Group Footnote                                        4544
dtype: int64

In [7]:
df.value_counts('Meets criteria for promoting interoperability of EHRs')

#Only 'Y' in this column, which I assume means yes, null values meaning no.

Meets criteria for promoting interoperability of EHRs
Y    3898
Name: count, dtype: int64

In [8]:
df.value_counts('Meets criteria for birthing friendly designation')

#Same as previous.

Meets criteria for birthing friendly designation
Y    2225
Name: count, dtype: int64

In [9]:
#Replacing nulls in 'Meets criteria' columns (2) to N for NO, based on assumption. 

df['Meets criteria for promoting interoperability of EHRs'].fillna('N', inplace=True)

/var/folders/3w/7v9cynf939n1kcryf0n89hvw0000gn/T/ipykernel_4157/2335019567.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Meets criteria for promoting interoperability of EHRs'].fillna('N', inplace=True)

In [10]:
df.value_counts('Meets criteria for promoting interoperability of EHRs')

Meets criteria for promoting interoperability of EHRs
Y    3898
N    1500
Name: count, dtype: int64

In [11]:
df['Meets criteria for birthing friendly designation'].fillna('N', inplace=True)

/var/folders/3w/7v9cynf939n1kcryf0n89hvw0000gn/T/ipykernel_4157/783885700.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Meets criteria for birthing friendly designation'].fillna('N', inplace=True)

In [12]:
df.value_counts('Meets criteria for birthing friendly designation')

Meets criteria for birthing friendly designation
N    3173
Y    2225
Name: count, dtype: int64

In [13]:
#Replace Not Available values to None

df.replace('Not Available', None, inplace=True)

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [14]:
#Based on my EDA I did not find any irregular data.

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [15]:
duplicates = df.duplicated()

duplicates.value_counts()

#No duplicates found.

False    5398
Name: count, dtype: int64

In [16]:
#Dropping footnotes as I find them unnessary for my analysis. 

df.drop(['Hospital overall rating footnote', 'MORT Group Footnote', 'Safety Group Footnote', 'READM Group Footnote', 'Pt Exp Group Footnote', 'TE Group Footnote'], axis=1, inplace=True)

In [17]:
#Also dropping telephone number.

df.drop(['Telephone Number'], axis=1, inplace=True)

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [18]:
df['State'].nunique()

#There's only 50 US States, so there must be some incorrect data here.

56

In [19]:
df.value_counts('State')

#So the data also includes territories (Puerto Rico, Guam, Virgin Islands, Northern Mariana Islands, and American Samoa) and District of Columbia (DC)

State
TX    454
CA    378
FL    217
OH    195
IL    194
NY    191
PA    189
LA    155
IN    150
MI    149
GA    147
WI    144
KS    137
MN    136
OK    129
TN    123
MO    122
NC    122
IA    119
AZ    105
KY    103
MS    101
AL    100
WA    100
CO     97
VA     96
NE     93
AR     88
MA     82
NJ     79
SC     66
MT     63
OR     63
SD     61
PR     59
MD     56
WV     55
UT     53
ID     48
ND     47
NM     45
NV     45
ME     38
CT     37
WY     30
NH     28
AK     25
HI     25
VT     17
RI     13
DE     13
DC     10
VI      2
GU      2
AS      1
MP      1
Name: count, dtype: int64

In [20]:
#Replacing Yes and No in Emergency Services column to be consistent with the rest of the columns. 

df['Emergency Services'] = df['Emergency Services'].replace('Yes', 'Y')
df['Emergency Services'] = df['Emergency Services'].replace('No', 'N')

In [21]:
df.value_counts('Emergency Services')

Emergency Services
Y    4509
N     889
Name: count, dtype: int64

In [22]:
print(df.isnull().sum())

Facility ID                                                 0
Facility Name                                               0
Address                                                     0
City/Town                                                   0
State                                                       0
ZIP Code                                                    0
County/Parish                                               0
Hospital Type                                               1
Hospital Ownership                                          1
Emergency Services                                          0
Meets criteria for promoting interoperability of EHRs       0
Meets criteria for birthing friendly designation            0
Hospital overall rating                                  2564
MORT Group Measure Count                                  787
Count of Facility MORT Measures                          1847
Count of MORT Measures Better                            1847
Count of MORT Measures No Different                      1847
Count of MORT Measures Worse                             1847
Safety Group Measure Count                                787
Count of Facility Safety Measures                        1967
Count of Safety Measures Better                          1967
Count of Safety Measures No Different                    1967
Count of Safety Measures Worse                           1967
READM Group Measure Count                                 787
Count of Facility READM Measures                         1055
Count of READM Measures Better                           1055
Count of READM Measures No Different                     1055
Count of READM Measures Worse                            1055
Pt Exp Group Measure Count                                787
Count of Facility Pt Exp Measures                        2179
TE Group Measure Count                                    787
Count of Facility TE Measures                             854
dtype: int64

In [23]:
df.to_csv('Hospital_General_Information_Clean.csv', index=False)

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? 

No, I did not find Irregular Data in my dataset based on my previous EDA. The only real concern here would be the rating and that turned out to be clean to me.

2. Did the process of cleaning your data give you new insights into your dataset?

Yes. I understand the columns better and gave me an idea how to move forward with my analysis. It also showed me that I have PLENTY of null values in my dataset that can affect my analysis. It is good to note that moving forward as a word of caution when making conclusions about the data.

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

The most important thing would be noting the large amount of null values in the dataset. Since the ratings are based on the different measures, it's hard to fill those null values with averages.
Again, I would be wary to make conclusions based on missing data, but will analyze and present with what is available.